* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px 0px;
}

.delete {
  color: rgb(255, 0, 0);
  cursor: pointer;
  margin: 2px;
}

.edit {
  margin: 2px;
  cursor: pointer;
}